# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Ambientes
.env
.env.*.local

# Sistema Operacional
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.swp

# Builds (caso tenha)
dist/
build/
